.centered
{
    text-align: center;
}

h1{
    color:Purple;
    font-size:5em;
}

h2{
    color:red;
    font-size:4em;
}

.special {
    color: orange;
    font-weight: bold;
}

h3{
    color:blue;
    font-size:2em;
}

h4{
    color:yellow;
    font-size:4em;
}

img {
    max-width: 33.33%; /* 设置最大宽度为父元素宽度的百分比 */
    height: auto; /* 让浏览器根据宽度自动计算高度，保持纵横比 */
}
